.bicicletas {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
}

.bicicleta-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicleta-imagem {
  display: grid;
}

.bicicleta-imagem img {
  grid-area: 1/1;
}

.bicicleta-imagem span {
  grid-area: 1/1;
  display: inline-block;
  place-self: start end;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
}

/* .bicicleta-imagem {
  position: relative;
}

.bicicleta-imagem span {
  display: inline-block;
  position: absolute;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  right: 0;
  top: 20px;
} */

.bicicleta-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1 / -1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas ul {
  display: grid;
  gap: 16px;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicleta-conteudo img {
  width: 24px;
  margin-right: 8px;
}

.bicicletas a {
  place-self: end;
}

@media (width <= 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicleta-bg {
    background: var(--cor-11);
  }
}

@media (width <= 600px) {
  .bicicleta-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 12px 0;
    margin-bottom: 32px;
  }

  .bicicletas a {
    place-self: start;
  }
}

@media (width <= 500px) {
  .bicicleta-imagem {
    display: block;
  }

  .bicicleta-imagem span {
    background: none;
    color: var(--cor-11);
    padding: 0;
  }

  .bicicleta-bg span {
    color: var(--cor-0);
  }

  /* .bicicleta-imagem span {
    position: relative;
    top: 12px;
    padding: 0;
    background: none;
    color: var(--cor-11);
  } */
}

@media (width <= 400px) {
  .bicicletas li:nth-child(1),
  .bicicletas li:nth-child(2) {
    align-items: start;
  }
}
